body {
    font-family: Arial, Helvetica, sans-serif;
}

.menulista>li>a {
    text-decoration: none;
    color: white;
}

.menulista {
    list-style-type: none;
    margin: 0px;
}

.menulista>li {
    padding: 1em;
}

.menu {
    float: left;
    background-color: #424242;
    margin: 0px;
    height: 100%;
}

.hatter {
    width: 400px;
}

hr {
    border: 1px inset #303030;
    margin: 0px;
}