* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.menulista>li>a {
    text-decoration: none;
    color: white;
}

.menulista {
    list-style-type: none;
    margin: 0px;
}

.menulista>li {
    padding: 1em;
}

.menu {
    float: left;
    background-color: #424242;
    margin: 0px;
    height: 100%;
}

.hatter {
    width: 400px;
}

hr {
    border: 1px inset #303030;
    margin: 0px;
}

.tartalom {
    padding: 3em;
}

.golyok>img {
    max-width: 30%;
    height: auto;
}

.container {
    display: flex;
    padding: 0px;
}

@media screen and (max-width: 800px) {
    .container {
        flex-wrap: wrap;
    }
}

h1 {
    font-size: 2.5em;
    padding-bottom: 1em;
}

.meret-3 {
    font-size: 3em;
}

.meret-2 {
    font-size: 2em;
}

.kozep {
    text-align: center;
    display: inline;
}

.leggyakoribb-golyok {
    display: flex;
    align-items: center;
    justify-content: center;
}
